
$content-width: 800px;
$main: #19CCAA;
$font-style: 'Poppins', sans-serif;
$font-color: #262626;
$link-color: #425469;
$link-hover-color: $main;
$heading-font: 'Muli', sans-serif;
$heading-font-color: #425469;
$light: #E7EDF4;
$header:  #1D1425;

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


body {
  // background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  // background-image: linear-gradient(-20deg, #d558c8 0%, #24d292 100%);
  // background-image: linear-gradient(45deg, #8baaaa 0%, #ae8b9c 100%);
  // background-image: linear-gradient(to right, #434343 0%, black 100%);
  // background-image: linear-gradient(to left, #0250c5 0%, #d43f8d 100%);
  background: linear-gradient(to right, #434343 0%, black 100%);
  background-size: 400% 400%;

  -webkit-animation: AnimationName 14s ease infinite;
  -moz-animation: AnimationName 14s ease infinite;
  -o-animation: AnimationName 18s ease infinite;
  animation: AnimationName 14s ease infinite;

  @-webkit-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-moz-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @-o-keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  @keyframes AnimationName {
      0%{background-position:0% 50%}
      50%{background-position:100% 50%}
      100%{background-position:0% 50%}
  }
  color: white;
  font-family: $font-style;
  font-weight: lighter;
  font-size: 14px;
}


// font-family: 'Poppins', sans-serif;
