<!DOCTYPE html>
<html>
{% include head.html %}
<body>
  <main>
    <div class="first_wrap">
      <div class="first_wrap_left">
        <div class="left_elements">Who am I</div>
        <div class="left_elements">Skills</div>
        <div class="left_elements">Background</div>
        <div class="left_elements">Contact me</div>
      </div>
      <div class="first_wrap_right">
        <div class="main-sentence">My name is Diane Johnston-Roussillon, nice to meet you !</div>
      </div>
    </div>
    <div class="second_wrap">Who am I</div>
    <div class="third_wrap">Skills</div>
    <div class="fourth_wrap">Background</div>
    <div class="fifth_wrap">Contact me</div>
  </main>
</body>
</html>
